<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

	<title>Transações Financeiras</title>
</head>

<body>
	<div class="container">
		<h1 class="text-center">Importar Transações</h1>
		<div th:if="${alert}" th:text="${alert}" class="alert alert-warning" role="alert">
			A simple warning alert—check it out!
		</div>
		<form method="POST" enctype="multipart/form-data" action="/">
			<div class="mb-3">
				<label for="formFile" class="form-label">Selecione arquivo para fazer upload</label>
				<input class="form-control" type="file" id="formFile" name="formFile">
			</div>
			<button type="submit" class="btn btn-primary">Importar</button>
		</form>
		<h1 class="text-center">Importações Realizadas</h1>
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">DATA TRANSAÇÕES</th>
					<th scope="col">DATA IMPORTAÇÃO</th>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${listImportation.empty}">
					<td colspan="2"> Nenhuma importação realizada </td>
				</tr>
				<tr th:each="importation : ${listImportation}">
				
					<td><span th:text="${#temporals.format(importation.dateTransaction, 'dd/MM/yyyy')}"> 05/01/2022 </span></td>
					<td><span th:text="${#temporals.format(importation.dateImportation, 'dd/MM/yyyy - HH:mm:ss')}"> 05/01/2022 - 16:22:19 </span></td>
				</tr>
			</tbody>
		</table>
	</div>


	<!-- Optional JavaScript; choose one of the two! -->

	<!-- Option 1: Bootstrap Bundle with Popper -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
		crossorigin="anonymous"></script>

	<!-- Option 2: Separate Popper and Bootstrap JS -->
	<!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
</body>

</html>